.menu-icon {
  font-size: 48px;
  color: #0d6efd; /* Azul Bootstrap */
}

.menu-label {
  margin-top: 8px;
  font-size: 16px;
  color: #0d6efd; /* Azul Bootstrap */
  font-weight: 500;
}

.menu-button {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px;
  border-radius: 12px;
  background-color: #e7f1ff; /* Azul claro */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  color: #0d6efd;
}

.menu-button:hover {
  transform: scale(1.05);
  background-color: #d0e5ff;
}

.flag-icon {
  width: 48px;
  height: 36px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.page-title {
  color: #0d6efd;
  font-weight: 600;
}

.logo-img {
width: 100px;
height: 100px;
background-image: url('../../assets/img/logo.jpg');
background-size: cover;
background-position: center;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
